*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  color: aliceblue;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: url('../public/movie-background-collage.jpg'); 
  background-size: cover;
  filter: blur(5px);
}

.Header {
  background: linear-gradient(to bottom, #05769b, #012d59);
  color: white;
  font-family: ' Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.App {
    text-align: center;
  }
  
  .SearchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .SearchBox-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
  }
  
  .SearchBox-button {
    padding: 12px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px ;
    cursor: pointer;
  }
  
  .SearchBox-button:hover {
    background-color: #0056b3;
  }
  
  
  .MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  
  .MovieCard {
    width: 300px;
    padding-bottom: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 100px 40px rgba(0, 0, 0, 0.2); /* Increased box-shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
  }
  
  .MovieCard:hover {
    transform: translateY(-10px) scale(1.02); /* Improved hover effect with scaling */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Enhanced box-shadow on hover */
  }
  
  .MovieCard img {
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 8px;
  }

  
  .TrailerContainer {
    width: 100%;
  }
  
  .Trailer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .Trailer iframe {
    width: 100%;
    border-radius: 10px;
  }
  
  .selected {
    width: 100% ;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  

  
  .CategoryButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .CategoryButtons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .CategoryButtons button:hover {
    background-color: #0056b3;
  }
  .CategoryButtons button:active {
    background-color: #004080; 
  }
  
  .CategoryHeading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff; 
  }
  



